@media only screen and (min-width: 361px) {
html{
	margin: 0px;
  	padding: 0px;
}body{
	height: 100vh;
	width: 100vw;
	position: relative;
}
.shade{
	position: absolute;
	background-color: #000000;
	opacity: 0.4;
	height: 100vh;
	width: 100vw;
	z-index: -2;
}
.nav{
	width: 100vw;
	height: 15vh;
	background-color: #000000;
	opacity: 0.6;
	position: absolute;
	margin-left: 0vw;
	margin-right: 0vw;
    position: absolute;
    z-index: -1;
    margin-top: 0vh
}
.logo{
    height: 13vh;
    width: 13vh;
    margin-top: 1vh;
    margin-left: 1vw;
    float: left;
}
.web{
	margin-right: 3vw;
	margin-top: 5vh;
	margin-bottom: 90.76vh;
	color: white;
	font-family: 'Dancing Script', cursive;
	float: right;
}
.heading-body{
	height: 13vh;
	color: white;
	font-size: 3vw;
	text-align: center;
	padding-top: 15vh;
	font-family: 'Sonsie One', cursive;
	margin-left: 10vw;
	margin-right: 10vw;

}
div p{
	margin-bottom: 10px
}
div h2{
	font-size: 7vw;
	font-family: 'Gravitas One', cursive;
	margin-top: 5px;
	margin-right: 7vw;
	margin-left: 7vw;
	margin-bottom: 2vh;
  	text-align: center;
}
#countdown{
	margin-top: 46vh;
  	width: 80vw ;
  	margin-left: 10vw ;
  	margin-right: 10vw ;
  	margin-bottom: 10vh;
  	height: 12vh;

}
.minutes{
	position: absolute;
	float: left;
	z-index: 5;
	margin-top: 42.5vh;
	margin-bottom: 25.5vh;
	margin-left: 54vw;
	margin-right: 41vw;
	font-size: 3vh;
	color: #FFF;
}
}




@media only screen and (max-width: 360px) {
	html{
	margin: 0px;
  	padding: 0px;
}body{
	height: 50vh;
	width: 100vw;
	position: relative;
}
.shade{
	position: absolute;
	background-color: #000000;
	opacity: 0.4;
	height: 100vh;
	width: 100vw;
	z-index: -2;
}
.nav{
	width: 100vw;
	height: 15vh;
	background-color: #000000;
	opacity: 0.6;
	position: absolute;
    left: 0px;
    top: 0px;
    position: absolute;
    z-index: -1;
}
.logo{
    height: 13vh;
    width: 13vh;
    padding-top: 1vh;
    padding-left: 1vh;
    float: left;
}
.web{
	padding-right: 3%;
	padding-top: 3vh;
	color: white;
	font-family: 'Dancing Script', cursive;
	float: right;
}
.heading-body{
	height: 13vh;
	width: 100vw;
	color: white;
	font-size: 5vw;
	text-align: center;
	padding-top: 15vh;
	font-family: 'Sonsie One', cursive;
}
div p{
	margin-bottom: 10px;
}
div h2{
	font-size: 12vw;
	font-family: 'Gravitas One', cursive;
	margin-top: 3vh;
	margin-left: 1vw; 
	margin-right: 1vw;
}
#countdown{
	margin-top: 22vh;
  	width: 80vw ;
  	margin-left: 10vw;
  	margin-right: 10vw;
  	margin-bottom: 7.8vh;
}
.minutes{
	position: absolute;
	float: left;
	z-index: 5;
	margin-top: 43vh;
	margin-bottom: 25.5vh;
	margin-left: 19vw;
	margin-right: 62vw;
	font-size: 3vh;
	color: #FFF;
	}
}
